body {
  margin-top: 30px;
}
.container {
  min-width: 600px;
  width: 500px;
  margin: 0px auto;
  padding: 10px;
}
.re-editor-container {
  .re-editor {
    min-height: 200px;
    margin-top: 10px;
  }
}
.toolbar-antd-cotnainer {
  .ant-btn-group, .ant-select {
    margin-right: 10px;
  }
}
