.node-wrapper-Image {
  .image-container {
    display: inline-block;
    position: relative;

    .icon-resize {
      width: 20px;
      height: 20px;
      background: #1990ff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: nwse-resize;
      position: absolute;
      right: -10px;
      bottom: -10px;
      z-index: 200;
      visibility: hidden;
    }
  }
  &.active {
    .icon-resize {
      visibility: visible;
    }
  }
}
