.tool-wrapper {
  position: absolute;
  border-radius: 2px;
  background: #fff;
  padding: 5px 3px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 10px rgba(0,0,0,.12);
  z-index: 100;
  display: flex;
  left: 0px;

  .tool-item {
    cursor: pointer;
    min-width: 28px;
    color: #595959;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;

    &.hover:hover {
      &, button {
        background: #f4f4f4;
      }
    }
    .simple-input {
      border: none;
      font-size: 14px;
      width: 150px;
    }
    .small-input {
      width: 45px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      font-size: 12px;
      height: 24px;
    }
    button {
      width: 48px;
      border: none;
      cursor: pointer;
      font-size: 12px;
      height: 100%;
    }
  }
  .tool-item-split {
    min-width: 1px;
    margin: 0px 4px;
    background: #d9d9d9;
  }
  .tool-item-group {
    display: flex;
  }
  .tool-item-right {
    display: flex;
  }

  .slate-input {
    padding: 0px 3px;
    width: 45px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
  }
  i {
    font-size: 16px;
  }
}
